* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}
main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}